node_modules/
node_modules/*
dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

**/.mypy_cache/
api/.env
api/.env.local
api/.env.previous
api/.env.me
api/.gitignore
.env*
.flaskenv*
!.env.project
!.env.vault